.mainDiv{
    height: 100vh;
}
.containerDiv{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%
}
.button{
    background-color: #283030;
    border: 1px solid white;
    padding: 10px;
    position: absolute;
    top: 48%;
    width:80px;
    opacity: .8;
    &:hover {
        background-color: #FF1493;
        -webkit-filter: brightness(50%);
        -webkit-transition: 0.2s all;
        transform: scale(1.1);
    }
}
#LoginButton{
    left: 40%;
    transform: translate(0, -50%);
    
}
#SignUpButton{
    right: 40%;
    transform: translate(0, -50%);
}
